@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0px;
    
}
.seccion-1{
    background-color: #222222;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color:#F3F3F3;
}
a{
    text-decoration: none;
    color: unset;
}
.logo{
    display: flex;
    height: 23px;
}
#front{
    color: #3C2313;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 0px;
    font-weight: bold;
}
#Cat-dog{
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 0px;
    font-weight: bold;
}
.cabecera-2{
    background-color: #F0A83E;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;;
}
.menu-cabecera-2{
    display: flex;
    flex-direction: column;
}

.menu-cabecera-2 img{
    background: #FFFFFF;
    height: 13px;
}
h1{
    background-color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    color: #3C2313;
    font-size: 30px;
    margin: auto;
    text-align: center;
}
.banner{
    background-image: url(../img/fond.png);
    height: 409px;
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
}

.alinear{
    margin: auto;
    text-align: center;
    line-height: 1px;
}

h2{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    color: #3C2313;
}
h3{
    background-color: #F0A83E;
    width: fit-content;
    font-family: 'Roboto',sans-serif;
    color: #FFFFFF;
    font-weight: normal;
}
.menu-central a{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #666666;
}

.producto-1 h4, .producto-2 h4, .producto-3 h4{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #3C2313;
}

.producto-1 h5, .producto-2 h5, .producto-3 h5{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #F0A83E;
}
footer{
    background-color: #3C2313;
}
.ico-1 h6, .ico-2 h6, .ico-3 h6{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}
.ico-1 p, .ico-2 p, .ico-3 p{
    color: #8A8787;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    
}  

.ico-1 img, .ico-2 img, .ico-3 img{
    background-color: #8A8787;
    border-radius: 100%;

}
#pie-pagina{
    background-color: #222222;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
}